{% extends "base.html" %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block main %}
<h1>Открытка</h1>
<p>
    {% if recipient_gender == 'male' %}
        Дорогой {{ recipient_name }}! Поздравляю с 2024 годом! Всего самого-самого наилучшеего!
    {% else %}
        Дорогая {{ recipient_name }}! Поздравляю с 2024 годом! Всего самого-самого наилучшеего!
    {% endif %} 
</p>
<p>
    С наилучшими пожеланиями, <strong>{{ sender_name }}</strong>.
</p>
    <div>
    <img src="/static/2024.jpg" style="height: 300px;">
    </div>
{% endblock %}