img {
    width:1000px;
    height:700px;
}

body{
    background-color: rgb(230, 202, 206);
    color: rgb(187, 112, 187); 
    font-family: Arial; 
    margin: 0px;
}

header{
    background: linear-gradient(to right, rgb(153, 60, 106), rgb(236, 136, 153),rgb(255, 174, 188),rgb(253, 211, 232)) ;
    color: rgb(80, 70, 90);
    padding: 10px;
    font-size: 16pt
}
header:hover {
    color: rgb(152, 243, 231);
    font-size: 20pt;
    transition: 600ms 1s
}
main{
  margin: 10px 20px;  
}
footer{
    background: linear-gradient(to right,rgb(224, 157, 218), rgb(121, 38, 52),rgb(172, 103, 115),rgb(226, 126, 176)) ;
    color: rgb(123, 82, 167);
    padding: 10px;
    font-size: 16pt;
    text-align: center
}
footer:hover {
    color: rgb(92, 131, 133);
    font-size: 20pt;
    transition: 600ms 1s
}
a{
    text-decoration:none;
    color: rgb(237, 240, 234);
    text-shadow: 1px 1px 10px rgb(95, 26, 92);
    transition: 600ms 1s   
}
a:visited {
    color: rgb(168, 47, 108);
    background-color: rgb(252, 252, 252)
}

a:hover {
    color: rgba(197, 100, 168, 0.705);
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: 900ms 0.3s;
}

a:active{
    color: rgb(148, 85, 85);
    background-color: rgb(106, 146, 106);
}