<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каменева Наталья.{% block lab%}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% if request.cookies.get('color') %}
    <style>
    </style>
    {% endif %}
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}
    </header>

    <main>
    
        <ol>
            <li>
                <a href="/menu">example</a>
            </li>
        </ol>
        {% block main %}{% endblock %}
    </main>

    <footer>
        &copy; Каменева Наталья, ФБИ-13, 3 курс, 2023
    </footer>
</body>
</html>